@import "../../index";

.row {
  display: flex;
}


.num-row-1 {
  grid-area: row-3;
}

.num-row-2 {
  grid-area: row-4;
}


.num-row-3 {
  grid-area: row-5;
}


.num-row-4 {
  grid-area: row-6;
}


.num-row-5 {
  grid-area: row-7;
}
