@import "../../index";


.purple-btn {
  background-color: $green;
}

.purple-btn:hover {
  background-color: $shadow-green;
}


.white-smoke-btn {
  background-color: $white-smoke;
}

.white-smoke-btn:hover {
  background-color: $shadow-white-smoke;
}


.light-grey-btn {
  background-color: $light-grey;
}


.light-grey-btn:hover {
  background-color: $shadow-light-grey;
}

.double-size-btn {
  width: 140px;
  height: 60px;
  padding-right: 70px;
}


.normal-size-btn {
  width: 70px;
  height: 60px;
}

.btn {
  border-color: $dark-grey;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
}