@import "../../index";


.answer-screen {
  border-top-width: 1px;
  border-top-color: $dark-grey;
  border-top-style: solid;
  font-size: 22px;
  text-align: right;
  padding-top: 8px;
  display: grid;
  color: $dark-grey
}
