@import "../../index";

body {
  align-content: center;
  background-color: $white-smoke;
}


.app {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". center .";
}
