.numpade-section {
  grid-area: numpade;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "row-3" "row-4" "row-5" "row-6" "row-7";
  font-size: 24px;
}


.num-row {
  display: flex;
}
