.calculator {
    background-color: aqua;
    grid-area: c;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 90%;
    grid-template-areas:
        "f f"
        "k1 k2";
}