body {
  align-content: center;
  background-color: whitesmoke;
}


.wrapper {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 25% 50% 25%;
  grid-template-areas:
    ". . ."
    ". c ."
    ". . .";
  grid-gap: 5px;
}


@media screen and (max-width: 480px) {
  .wrapper {
    grid-template-areas:
    "c c c"
    "c c c"
    "c c c"
  ;
  }
  .site {
    width: 480px;
  }
}